
/*body{
    background-image: url("https://o.remove.bg/downloads/1f68d78b-c9ae-4afd-beac-d9b6a533b39b/michael-kors-jet-set-phone-wristlet-wallet-vanilla-mk-acorn-removebg-preview-removebg-preview.png");
    background-repeat: no-repeat;
    background-size: cover;
}//